.header {
  @apply flex items-center justify-between pb-4 border-b border-b-border;
}

.header > p {
  @apply text-sm font-semibold text-orange;
}

.data > tr > th {
  @apply text-sm font-normal text-left text-neutral-5 pr-8 pb-2;
}

.data > tr > td {
  @apply text-sm;
}

.data > tr > td::before {
  content: ': ';
}
