.container {
  @apply p-4 rounded-xl bg-white max-w-[26rem];
  box-shadow:
    0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.01),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.01),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.01),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.01),
    0px 100px 80px 0px rgba(0, 0, 0, 0.01);
}

.logo {
  @apply grid w-12 h-12 rounded-full bg-[#F29718] place-items-center;
}

.logo > svg {
  @apply transform scale-125;
}

.title {
  @apply mt-2 text-2xl font-bold;
}

.subtitle {
  @apply mb-4 text-sm font-medium opacity-40;
}

.form {
  @apply flex flex-col;
}

.form > * + * {
  @apply mt-2;
}

.inputGroup {
  @apply relative p-2 px-3 border-2 border-transparent rounded-lg bg-neutral bg-opacity-50;
}

.inputGroup > label {
  @apply text-xs font-medium opacity-70;
}

.inputGroup > input {
  @apply p-0 font-semibold bg-transparent border-none outline-none;
}

.inputGroup > button {
  @apply absolute transform -translate-y-1/2 right-2 top-1/2;
}

.inputGroup:focus-within {
  @apply border-2 border-orange;
}

.errorMessage {
  @apply my-1 text-xs font-semibold text-danger;
}

.errorMessage::first-letter {
  @apply uppercase;
}

.forgetText {
  @apply self-end text-sm font-semibold text-right;
}

button[type='submit'].submit {
  @apply w-full py-3 mt-4 font-semibold text-white rounded-lg bg-orange;
}

.dontHaveAccount {
  @apply mt-4 text-sm font-semibold text-center;
}
/* 
.dontHaveAccount > a {
  @apply text-secondary;
} */
