.orderInfo > tr > th {
  @apply text-sm font-normal text-left text-neutral-5 pr-8 pb-2;
}

.orderInfo > tr > td {
  @apply flex items-center text-sm font-medium;
}

.orderInfo > tr > td::before {
  content: ': ';
}
