.small {
  @apply w-6 h-6 border-[3px] border-b-white border-border rounded-full inline-block box-border;
  animation: rotation 1s linear infinite;
}

.medium {
  @apply w-12 h-12 border-[6px] border-b rounded-full inline-block box-border;
  animation: rotation 1s linear infinite;
}

.large {
  @apply w-24 h-24 border-[9px] border-b rounded-full inline-block box-border;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
