.navbar {
  @apply flex items-center justify-between w-full pt-8 px-4 pb-6 bg-orange;
}

.title > h1 {
  @apply text-lg font-bold text-white;
}

.title > p {
  @apply text-sm text-neutral;
}

.navMenu {
  @apply p-3 rounded-xl;
}

.navMenu > svg {
  color: #fff;
}
